@import "tailwindcss";
@import "tw-animate-css";
@import "@clerk/themes/shadcn.css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9355 0.0213 85.9449);
  --foreground: oklch(0.2779 0.0062 78.2263);
  --card: oklch(0.9798 0.0086 84.5724);
  --card-foreground: oklch(0.2779 0.0062 78.2263);
  --popover: oklch(0.9798 0.0086 84.5724);
  --popover-foreground: oklch(0.2779 0.0062 78.2263);
  --primary: oklch(0.4596 0.0927 252.2624);
  --primary-foreground: oklch(0.9798 0.0086 84.5724);
  --secondary: oklch(0.9175 0.0202 84.5911);
  --secondary-foreground: oklch(0.3613 0.0094 80.6786);
  --muted: oklch(0.9175 0.0202 84.5911);
  --muted-foreground: oklch(0.5127 0.0125 76.5197);
  --accent: oklch(0.8695 0.025 83.4139);
  --accent-foreground: oklch(0.2779 0.0062 78.2263);
  --destructive: oklch(0.5433 0.174 29.6967);
  --destructive-foreground: oklch(0.9798 0.0086 84.5724);
  --border: oklch(0.8695 0.025 83.4139);
  --input: oklch(0.8695 0.025 83.4139);
  --ring: oklch(0.4596 0.0927 252.2624);
  --chart-1: oklch(0.4596 0.0927 252.2624);
  --chart-2: oklch(0.5324 0.0894 252.7517);
  --chart-3: oklch(0.6037 0.0862 253.5861);
  --chart-4: oklch(0.7237 0.0604 251.0158);
  --chart-5: oklch(0.8389 0.0361 246.9421);
  --sidebar: oklch(0.9798 0.0086 84.5724);
  --sidebar-foreground: oklch(0.5127 0.0125 76.5197);
  --sidebar-primary: oklch(0.4596 0.0927 252.2624);
  --sidebar-primary-foreground: oklch(0.9798 0.0086 84.5724);
  --sidebar-accent: oklch(0.9175 0.0202 84.5911);
  --sidebar-accent-foreground: oklch(0.2779 0.0062 78.2263);
  --sidebar-border: oklch(0.8695 0.025 83.4139);
  --sidebar-ring: oklch(0.4596 0.0927 252.2624);
  --font-sans: Inter, sans-serif;
  --font-serif: Noto Serif JP, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2138 0.0042 84.5889);
  --foreground: oklch(0.9175 0.0202 84.5911);
  --card: oklch(0.2779 0.0062 78.2263);
  --card-foreground: oklch(0.9175 0.0202 84.5911);
  --popover: oklch(0.2779 0.0062 78.2263);
  --popover-foreground: oklch(0.9175 0.0202 84.5911);
  --primary: oklch(0.7237 0.0604 251.0158);
  --primary-foreground: oklch(0.2138 0.0042 84.5889);
  --secondary: oklch(0.2779 0.0062 78.2263);
  --secondary-foreground: oklch(0.9175 0.0202 84.5911);
  --muted: oklch(0.3613 0.0094 80.6786);
  --muted-foreground: oklch(0.7117 0.0177 79.3214);
  --accent: oklch(0.3613 0.0094 80.6786);
  --accent-foreground: oklch(0.9175 0.0202 84.5911);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.2138 0.0042 84.5889);
  --border: oklch(0.3613 0.0094 80.6786);
  --input: oklch(0.3613 0.0094 80.6786);
  --ring: oklch(0.7237 0.0604 251.0158);
  --chart-1: oklch(0.7237 0.0604 251.0158);
  --chart-2: oklch(0.6688 0.0615 251.0855);
  --chart-3: oklch(0.6128 0.0628 251.1738);
  --chart-4: oklch(0.5557 0.0642 251.2904);
  --chart-5: oklch(0.4972 0.0657 251.4528);
  --sidebar: oklch(0.2138 0.0042 84.5889);
  --sidebar-foreground: oklch(0.7117 0.0177 79.3214);
  --sidebar-primary: oklch(0.7237 0.0604 251.0158);
  --sidebar-primary-foreground: oklch(0.2138 0.0042 84.5889);
  --sidebar-accent: oklch(0.2779 0.0062 78.2263);
  --sidebar-accent-foreground: oklch(0.9175 0.0202 84.5911);
  --sidebar-border: oklch(0.2779 0.0062 78.2263);
  --sidebar-ring: oklch(0.7237 0.0604 251.0158);
  --font-sans: Inter, sans-serif;
  --font-serif: Noto Serif JP, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --font-fira-code: var(--font-fira-code);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 6px);

  --animate-spinner-stroke: animate-spinner-stroke 2s ease-in-out infinite;

  @keyframes animate-spinner-stroke {
    0% {
      stroke-dasharray: 0 150;
      stroke-dashoffset: 0;
    }
    47.5% {
      stroke-dasharray: 42 150;
      stroke-dashoffset: -16;
    }
    95%,
    100% {
      stroke-dasharray: 42 150;
      stroke-dashoffset: -59;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-sans text-base;

    &::selection {
      @apply !bg-accent text-accent-foreground;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-fira-code;

    font-variant-ligatures: normal;
    font-feature-settings:
      "liga" 1,
      "calt" 1;
  }

  .tiptap {
    outline: none;
    :first-child {
      margin-top: 0;
    }

    /* List styles */
    ul,
    ol {
      padding: 0 1rem;
      margin: 1.25rem 1rem 1.25rem 0.4rem;

      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }

    ol,
    ul,
    menu {
      list-style: disc;
    }

    ul[data-type="taskList"] {
      li {
        @apply flex gap-2 items-start;

        &[data-checked="true"] {
          @apply line-through opacity-50;
        }
      }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-wrap: pretty;
    }

    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    h4,
    h5,
    h6 {
      @apply text-lg;
    }

    /* Code and preformatted text styles */
    code {
      background-color: var(--muted);
      border-radius: 0.4rem;
      color: var(--primary);
      font-size: 0.85rem;
      padding: 0.25em 0.3em;
    }

    pre {
      @apply bg-muted text-primary rounded-xl py-2 px-4;
    }

    blockquote {
      border-left: 5px solid var(--foreground);
      border-radius: 5px;
      margin: 1.5rem 0;
      padding-left: 1rem;
    }

    hr {
      border: none;
      border-top: 1px solid var(--gray-2);
      margin: 2rem 0;
    }

    p {
      @apply !m-0;
    }
  }
}
